{% extends "base.html" %}
{% block title %} Войти {% endblock %}
{% block content %}

<!-- Main Section-->
<section class="masthead body_art div_for_footer">
  <div class="container align-items-center flex-column">
    <div class="row justify-content-center">
      <div class="col-md-4 col-lg-4 mb-3 p-4 portfolio art_block" style="border-radius: 15px !important;">
        <div class="divider-custom mb-4">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Войти</h2></div>
          <div class="divider-custom-line"></div>
        </div>
        {% if form.errors %}
          <p>Неправильный логин или пароль. Пожалуйста, попробуйте еще раз</p>
        {% endif %}

        {% if next %}
          {% if user.is_authenticated %}
            <p>У вашего аккаунта недостаточно прав для просмотра этой страницы</p>
          {% else %}
            <p>Пожалуйста, авторизуйтесь, чтобы получить доступ к этой странице</p>
          {% endif %}
        {% endif %}
        <form method="post" action="{% url 'login' %}">
          {% csrf_token %}
          <div class="row justify-content-center">
            <div class="col-md-3 col-lg-3 portfolio art_block div_form_login">
              <p class="page-section-heading text-center art_autor" style="padding-top: 6px !important;">Логин: </p>
            </div>
            <div class="col-md-9 col-lg-9 portfolio art_block div_form_login">
              {{ form.username }}
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-3 col-lg-3 portfolio art_block div_form_login">
              <p class="page-section-heading text-center art_autor" style="padding-top: 6px !important;">Пароль: </p>
            </div>
            <div class="col-md-9 col-lg-9 portfolio art_block div_form_login">
              {{ form.password }}
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-4 col-lg-4">
            </div>
            <div class="col-md-4 col-lg-4">
              <input type="submit" value="Войти" class="btn btn-primary btn-xl but_form_login" />
            </div>
            <div class="col-md-4 col-lg-4">
            </div>
          </div>
          <input type="hidden" name="next" value="{{ next }}" />
        </form>
        <!-- <p class="mt-3"><a href="{% url 'password_reset' %}">Забыли пароль?</a></p> -->
      </div>
    </div>
  </div>
</section>

{% endblock %}