{% extends 'base.html' %}
{% load static %}
{% block title %} {{ article.title }} {% endblock %}
{% block content %}

<!-- Main Section-->
<section class="masthead body_art div_for_footer">
	<div class="container align-items-center flex-column">
		<div class="row justify-content-center">
			<!-- Article -->
			<div class="col-md-9 col-lg-9 mb-3 portfolio art_block">
				<!-- Picture -->
				<div class="portfolio-item mt-5 mx-auto art_pic">					
					<img class="img-fluid" src="{{ article.logo.url }}" alt="Изображение лекции" />
				</div>
				<!-- Title -->
				<h1 class="page-section-heading text-center text-uppercase text-secondary mt-3 mb-3 art_title">{{ article.title }}</h1>
				<!-- Autor -->
				<h2 class="page-section-heading text-center mb-2 art_autor">Автор — <b>Ольга Донцова</b></h2>
				<!-- Devider -->
				<div class="divider-custom mb-2">
					<div class="divider-custom-line art_divider"></div>
				</div>			        
				<!-- Annotation -->
				<p class="masthead-subheading font-weight-light mt-3 mb-2 art_ann">
					{{ article.annotation|safe }}	
				</p>
				<!-- Date -->
				<p class="masthead-subheading font-weight-light mb-2 art_date mb-5">{{ article_date }}</p>
				<!-- Main Text-->
				<div class="article_text mb-2">
					{% for block in article_blocks %}
						{% if block.type == 0 %}
							<!-- Text -->
							{{ block.block_text.content|safe }}
						{% elif block.type == 1 %}
							<!-- Image -->
							<p class="art-media-center"><img class="img-fluid art_img mt-3 mb-3" src="{{ block.block_image.content.url }}" alt="Картинка" /></p>
						{% elif block.type == 2 %}
							<!-- Audio -->						
							<p class="art-media-center"><audio class="art_audio mt-3 mb-3" controls="controls" controlslist="nodownload" onloadstart="this.volume=0.5">
									<source src="{{ block.block_audio.content.url }}" />К сожалению, тег audio не поддерживается вашим браузером
								</audio>
							</p>
						{% elif block.type == 3 %}
							<!-- Video -->						
							<p class="art-media-center"><video controls controlslist="nodownload" class="art_video mt-3 mb-3" onloadstart="this.volume=0.3">
									<source src="{{ block.block_video.content.url }}" type="video/mp4" />К сожалению, тег video не поддерживается вашим браузером
								</video>
							</p>
						{% endif %}
					{% endfor %}
				</div>
			</div>

			<!-- INFO BLOCK-->
			<div class="col-md-3 col-lg-3 portfolio" style="text-align: right;">
				<div class="info_block_wtf">
					<!-- Title -->
					<h2 class="page-section-heading text-uppercase info_title mb-4">Актуальные лекции</h2>
					{% for article in last_article %}
						<!-- Block Article -->
						<div class="mt-3 info_block_art" data-bs-toggle="modal" data-bs-target="#portfolioModal_{{ article.id }}">
							<!-- Devider -->
							<div class="divider-custom info_divider mb-3">
								<div class="divider-custom-line art_divider"></div>
							</div>
							<!-- Title Article -->
							<p class="masthead-subheading font-weight-light info_title_article mt-2">{{ article.title }}</p>
							<!-- Image Article -->
							<div class="portfolio-item mx-auto art_pic_block div_actual_article articles_image">					
								<img class="img-fluid" src="{{ article.logo.url }}" alt="Изображение лекции" />
							</div>
							<!-- Annotation Article -->
							<p class="masthead-subheading font-weight-light mt-3 art_actual_ann height_unset info_annotation">{{ article.annotation|safe }}</p>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Actual articles more Modals-->
{% for article in last_article %}
<!-- Modal -->
<div class="portfolio-modal modal fade" id="portfolioModal_{{ article.id }}" tabindex="-1" aria-labelledby="portfolioModal_{{ article.id }}" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0 pb-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5 pt-0">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-10">
                            <!-- Title -->
                            <h1 class="page-section-heading text-center text-uppercase mb-3 text-secondary art_title">{{ article.title }}</h1>
                            <!-- Picture -->
                            <div class="portfolio-item mx-auto art_pic mb-3" style="max-width: 25rem !important;">                    
                                <img class="img-fluid" src="{{ article.logo.url }}" alt="Изображение лекции" />
                            </div>
                            <!-- Autor -->
                            <h2 class="page-section-heading text-center mb-2 art_autor">Автор — <b>Ольга Донцова</b></h2>
                            <!-- Devider -->
                            <div class="divider-custom mb-2">
                                <div class="divider-custom-line art_divider"></div>
                            </div>                  
                            <!-- Annotation -->
                            <p class="masthead-subheading font-weight-light mt-3 mb-2 art_ann">
                                {{ article.annotation|safe }}   
                            </p>
                            <!-- Date -->
                            <p class="masthead-subheading font-weight-light mb-2 art_date mb-5">{{ article.on_change }}</p>
                            {% if user.is_authenticated %}
                                <button class="btn btn-primary" data-bs-dismiss="modal" style="font-size: 1.3rem !important;"><a href="{% url 'article' article.id %}" target="_blank" class="articles_link_to_article link_white" data-already-id="{{ article.id }}">Читать дальше</a></button>
							{% else %}
								<button id="btn_to_choose_article" data-title-target="{{ article.title }}" data-id-target="{{ article.id }}" onclick="article_choose_contact(this);"class="btn btn-primary" data-bs-dismiss="modal" style="font-size: 1.3rem !important;">Читать дальше</button>
							{% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<style type="text/css">
	.div_actual_article {
        height: unset !important;
        max-height: 9rem !important;
    }
</style>

{% endblock %}