{% extends 'base.html' %}
{% load static %}
{% block title %} Лекции {% endblock %}
{% block content %}

<!-- Main Section-->
<section class="masthead body_art div_for_footer class_for_articles_js">
	<div class="container align-items-center flex-column">
		<div class="row justify-content-center mb-3">
			<div class="col-md-8 col-lg-8 portfolio art_block pb-0">
				<div class="divider-custom" style="margin-bottom: 0.5rem !important; justify-content: end !important;">
					<div class="divider-custom-line"></div>
					<div class="divider-custom-icon"><h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Лекции</h2></div>
					<div class="divider-custom-line"></div>
				</div>
			</div>
			<div class="col-md-4 col-lg-4 portfolio art_block pb-0">
				<div class="form-group form-floating div_section div-for-search">                                    
				    <select class="select2 form-control new_fc_select" id="input_find">
				    	<option disabled selected value>Поиск по лекциям</option>
				        <option value="all">Показать все лекции</option>
				        {% for article in articles_list %}
				            <option value="{{ article.id }}">{{ article.title }}</option>
				        {% endfor %}
				    </select>
				</div>
			</div>
		</div>
			
		{% if user.is_authenticated %}
		<div class="row justify-content-center" id="articles_list" data-wtf="yes">
		{% else %}
		<div class="row justify-content-center" id="articles_list" data-wtf="no">
		{% endif %}
			{% for article in last_article %}
				<!-- Article -->
				<div class="col-md-12 col-lg-12 mb-3 portfolio art_block">
					<div class="div_article_link">
						{% if user.is_authenticated %}
							<a href="{% url 'article' article.id %}" target="_blank" class="articles_link_to_article">
						{% else %}
							<a href="" class="articles_link_to_article" data-title-target="{{ article.title }}" data-bs-toggle="modal" data-id-target="{{ article.id }}" data-bs-target="#modal_contact" onclick="article_choose_contact(this);" id="">
						{% endif %}
							<!-- Picture -->
							<div class="portfolio-item mx-auto art_pic mt-4 articles_image" style="cursor: pointer !important;">					
								<img class="img-fluid " src="{{ article.logo.url }}" alt="Изображение лекции" />
							</div>
							<!-- Title -->
							<h1 class="page-section-heading text-center text-uppercase text-secondary mt-3 mb-3 art_title articles_title">{{ article.title }}</h1>
							<!-- Devider -->
							<div class="divider-custom mb-2">
								<div class="divider-custom-line art_divider articles_divider"></div>
							</div>
						</a>
					</div>			        
					<!-- Annotation -->
					<p class="masthead-subheading font-weight-light mt-3 mb-2 art_ann">{{ article.annotation|safe }}</p>
					<!-- Date -->
					<p class="masthead-subheading font-weight-light art_date">{{ article.on_change }}</p>
					{% if user.is_authenticated %}
						<div class="row justify-content-center mt-3 mb-2" id="wow_that_perfict_tips_auth_yes">
							<div class="col-md-4 col-lg-4 mt-2">
								<input type="text" id="personal_link_{{ article.id }}" class="form-control page-section-heading text-center text-secondary article_personal_link" readonl value=""/>
							</div>
							<div class="col-md-4 col-lg-4 mt-2">						
								<button data-fun="create" data-article-id="{{ article.id }}" class="btn btn-primary btn-ml but_get_link_article" type="button" onclick="create_token(this);">Создать ссылку</button>
							</div>
							<div class="col-md-4 col-lg-4 mt-2">						
								<a href="{% url 'edit' article.id %}" target="_blank"><button class="btn btn-primary btn-ml but_get_link_article" type="button">Редактировать</button></a>
							</div>
						</div>
					{% endif %}
				</div>				
			{% endfor %}
		</div>
	</div>
</section>

<!-- Modal Contact --> 
<div class="portfolio-modal modal fade" id="modal_contact" tabindex="-1" aria-labelledby="modal_contact" aria-hidden="true">
	<div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body text-center pb-4">
                <div class="container">
                    <div class="row justify-content-center">
                    	<div class="modal-header border-0 pt-0 mt-0 mb-2 pb-0"><h5 class="text-uppercase mt-2 mb-4 text-center" style="padding-top: 23px;">Связаться со мной</h5><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                        <div class="col-md-12 col-lg-12 portfolio">                                                       
                    		<form id="contactForm" method="post" enctype="multipart/form-data">
                    			{% csrf_token %}
                        		<div class="row justify-content-center">  
                        			<div class="col-lg-12 col-xl-12">
                        				<!-- Article input-->
		                                <div class="form-group form-floating mb-2 div-for-select">                                    
		                                    <!-- <select name="contact_article" data-sb-can-submit="no" class="form-control new_fc_select fc_contact" id="chose_article" placeholder="Тема лекции" data-sb-validations="required" list="articles_list">
		                                        <option disabled selected value>Выберите тему лекциии</option>
		                                        {% for article in articles_list %}
                                            		<option value="{{ article.id }}">{{ article.title }}</option>
                                        		{% endfor %}
		                                    </select> -->
		                                    <select name="contact_article" data-sb-can-submit="no" class="select2 form-control new_fc_select fc_contact" id="chose_article" data-sb-validations="required" list="articles_list">
										    	<option disabled selected value>Выберите цель обращения</option>
                                        		<option value="contact-to">Записаться на прием</option>
										        {% for article in articles_list %}
										            <option value="{{ article.id }}">{{ article.title }}</option>
										        {% endfor %}
										    </select>
		                                    <label for="chose_article" class="new_lb">Ваша цель</label>
		                                    <div class="invalid-feedback" data-sb-feedback="chose_article:required">Это обязательное поле</div>
		                                </div>
                        			</div>
                            		<div class="col-lg-6 col-xl-6">
                                		<!-- Name input-->
                               			<div class="form-floating mb-2">
                                    		<input name="contact_name" data-sb-can-submit="no" class="form-control new_fc fc_contact" id="name" type="text" placeholder="Ведите ваше ФИО..." data-sb-validations="required" />
                                    		<label for="name" class="new_lb">ФИО</label>
                                    		<div class="invalid-feedback" data-sb-feedback="name:required">Это обязательное поле</div>
                                		</div>
                                		<!-- Email address input-->
                                		<div class="form-floating mb-2">
                                    		<input name="contact_email" data-sb-can-submit="no" class="form-control new_fc fc_contact" id="email" type="email" placeholder="email@example.com" data-sb-validations="required,email" />
                                    		<label for="email" class="new_lb">Почта</label>
                                    		<div class="invalid-feedback" data-sb-feedback="email:email">Почта указана неверно</div>
                                		</div>
                                		<!-- Phone number input-->
                                		<div class="form-floating mb-2">
                                    		<input name="contact_phone" data-sb-can-submit="no" class="form-control new_fc fc_contact" id="phone" type="tel" placeholder="+7(999) 999-99-99" data-mdb-input-mask="+7(999) 999-99-99" data-sb-validations="required" />
                                    		<label for="phone" class="new_lb">Номер телефона</label>
                                    		<div class="invalid-feedback" data-sb-feedback="phone:required">Номер телефона указан неверно</div>
                                		</div>                                		
                            		</div>
                            		<div class="col-lg-6 col-xl-6">
                                		<!-- Message input-->
                                		<div class="form-floating mb-2">
                                    		<textarea name="contact_message" data-sb-can-submit="yes" rows="5" class="form-control new_fc_ta fc_contact" id="message" type="text" placeholder="Ваши пожелания" data-sb-validations="required"></textarea>
                                    		<label for="message" class="new_lb">Ваши пожелания</label>
                                    		<div class="invalid-feedback" data-sb-feedback="message:required">Это обязательное поле</div>
                                		</div>
                                		<!-- Submit-->
                                		<button name="contact_button" class="btn btn-primary btn-xl disabled" style="width: 100% !important" id="submitButton" type="button">Отправить</button> 
                                		<div class="d-none" id="submitSuccessMessage"><div class="text-center mb-3"><div class="fw-bolder">Отправлено!</div></div></div>
                            			<div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Ошибка. Пожалуйста, попробуйте позже или обновите страницу</div></div>
                            		</div>
                        		</div>
                    		</form>
                    		<div class="row justify-content-center mt-5">  
                        		<div class="col-lg-12 col-xl-12 contact-modal-div">
                        			<h5 class="text-uppercase mt-0 mb-3 text-center" style="text-align: left !important;">Контакты</h5>  
				                    <p class="masthead-subheading font-weight-light mt-1 mb-1 contact-info"><a class="contact-map-modal" href="tel:+79252881575" target="_blank">+7 (925) 288-15-75</a> <small>(с 10:00 до 21:00)</small></p> 
				                    <p class="masthead-subheading font-weight-light mt-2 contact-info"><a class="contact-map-modal" href="https://yandex.ru/maps/-/CCUORPAudC" target="_blank">Московская область, г. Балашиха, ул. Разина, д. 2/5</a></p> 
				                    <!-- Devider -->
				                    <div class="divider-custom mb-3">
				                        <div class="divider-custom-line art_divider"></div>
				                    </div>   
				                    <p class="masthead-subheading font-weight-light mt-3 mb-1 contact-info">Вы можете рассчитывать на полную конфиденциальность и продуктивную совместную работу!</p> 
                        		</div>
                        	</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}