<!DOCTYPE html>
{% load static %}
<html lang="ru">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Olga Dontsova - psychologist" />
    <meta name="author" content="IlyaZ" />
    <!-- Title -->
    <title> {% block title %} {% endblock %} </title>
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'assets/icon.ico' %}" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
        type="text/css" />
    <!-- Core theme CSS (includes Bootstrap) -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <link href="{% static 'css/second_css.css' %}" rel="stylesheet" />
    <!-- Include stylesheet -->
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link href="//cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet">
    <!-- Include the Quill library -->
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>

<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container custom_nav">
            {% if page == "index" %}
            <a class="navbar-brand" href="#page-top">Психолог Ольга Донцова</a>
            {% else %}
            <a class="navbar-brand" href="/">Психолог Ольга Донцова</a>
            {% endif %}
            <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
                Меню
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive" style="max-width: 100% !important;">
                <ul class="navbar-nav ms-auto">
                    {% if page == "index" %}
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded"
                            href="#help">Возможности</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded"
                            href="#portfolio">Лекции</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded"
                            href="#about">Консультации</a></li>
                    {% else %}
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded"
                            href="{% url 'index' %}#help">Возможности</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded"
                            href="{% url 'articles' %}">Лекции</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded"
                            href="{% url 'index' %}#about">Консультации</a></li>
                    {% endif %}
                    {% if page == "articles" %}
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href=""
                            data-bs-toggle="modal" data-bs-target="#modal_contact">Контакты</a></li>
                    {% else %}
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded"
                            href="#contact">Контакты</a></li>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded"
                            href="{% url 'create' %}">Добавить</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a title="Выйти"
                            class="nav-link py-3 px-0 px-lg-3 rounded but_login" href="{% url 'logout' %}"> </a></li>
                    {% else %}
                    <li class="nav-item mx-0 mx-lg-1"><a title="Войти"
                            class="nav-link py-3 px-0 px-lg-3 rounded but_login" href="{% url 'login' %}"> </a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    {% block content %} {% endblock %}

    {% if page != "articles" %}
    <!-- Footer-->
    <footer class="footer page-section my_test_footer" id="contact"
        style="padding-top: 3.0rem !important; padding-bottom: 2.0rem !important;">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Footer Contact-->
                <div class="col-lg-9 col-xl-9">
                    <h4 class="text-uppercase mb-4 text-center">Связаться со мной</h4>
                    <form id="contactForm" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row justify-content-center">
                            <div class="col-lg-9 col-xl-9">
                                <!-- Article input-->
                                <div class="form-group form-floating mb-2">
                                    <!-- <select name="contact_article" data-sb-can-submit="no" class="form-control new_fc_select" id="chose_article" placeholder="Тема лекции" data-sb-validations="required" list="articles_list">
                                        <option disabled selected value>Выберите тему лекциии</option>
                                        {% for article in articles_list %}
                                            <option value="{{ article.id }}">{{ article.title }}</option>
                                        {% endfor %}
                                    </select> -->
                                    <select name="contact_article" data-sb-can-submit="no" list="articles_list"
                                        class="select2 form-control new_fc_select" id="chose_article">
                                        <option disabled selected value>Выберите цель обращения</option>
                                        <option value="contact-to">Записаться на прием</option>
                                        <!-- Выберите тему лекциии -->
                                        {% for article in articles_list %}
                                        <option value="{{ article.id }}">{{ article.title }}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="chose_article" class="new_lb">Ваша цель</label>
                                    <div class="invalid-feedback" data-sb-feedback="chose_article:required">Это
                                        обязательное поле</div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-xl-5">
                                <!-- Name input-->
                                <div class="form-floating mb-2">
                                    <input name="contact_name" data-sb-can-submit="no" class="form-control new_fc"
                                        id="name" type="text" placeholder="Ведите ваше ФИО..."
                                        data-sb-validations="required" />
                                    <label for="name" class="new_lb">ФИО</label>
                                    <div class="invalid-feedback" data-sb-feedback="name:required">Это обязательное поле
                                    </div>
                                </div>
                                <!-- Email address input-->
                                <div class="form-floating mb-2">
                                    <input name="contact_email" data-sb-can-submit="no" class="form-control new_fc"
                                        id="email" type="email" placeholder="email@example.com"
                                        data-sb-validations="required,email" />
                                    <label for="email" class="new_lb">Почта</label>
                                    <!-- <div class="invalid-feedback" data-sb-feedback="email:required">Это обязательное поле</div> -->
                                    <div class="invalid-feedback" data-sb-feedback="email:email">Почта указана неверно
                                    </div>
                                </div>
                                <!-- Phone number input-->
                                <div class="form-floating mb-2">
                                    <input name="contact_phone" data-sb-can-submit="no" class="form-control new_fc"
                                        id="phone" type="tel" placeholder="+7(999) 999-99-99"
                                        data-mdb-input-mask="+7(999) 999-99-99" data-sb-validations="required" />
                                    <label for="phone" class="new_lb">Номер телефона</label>
                                    <div class="invalid-feedback" data-sb-feedback="phone:required">Номер телефона
                                        указан неверно</div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-xl-4">
                                <!-- Message input-->
                                <div class="form-floating mb-2">
                                    <textarea name="contact_message" data-sb-can-submit="yes" rows="5"
                                        class="form-control new_fc_ta" id="message" type="text"
                                        placeholder="Ваши пожелания" data-sb-validations="required"></textarea>
                                    <label for="message" class="new_lb">Ваши пожелания</label>
                                    <div class="invalid-feedback" data-sb-feedback="message:required">Это обязательное
                                        поле</div>
                                </div>
                                <!-- Submit-->
                                <button name="contact_button" class="btn btn-primary btn-xl disabled mb-4"
                                    style="width: 100% !important" id="submitButton" type="button">Отправить</button>
                                <div class="d-none" id="submitSuccessMessage">
                                    <div class="text-center mb-3">
                                        <div class="fw-bolder">Отправлено!</div>
                                    </div>
                                </div>
                                <div class="d-none" id="submitErrorMessage">
                                    <div class="text-center text-danger mb-3">Ошибка. Пожалуйста, попробуйте позже или
                                        обновите страницу</div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- Footer Contact-->
                <div class="col-lg-3 col-xl-3">
                    <h4 class="text-uppercase mb-4 text-center">Контакты</h4>
                    <div class="row justify-content-center">
                        <p class="masthead-subheading font-weight-light mt-2 mb-1 contact-info"><a class="contact-map"
                                href="tel:+79252881575" target="_blank">+7 (925) 288-15-75</a> <small>(с 10:00 до
                                21:00)</small></p>
                        <a class="contact-map" href="https://yandex.ru/maps/-/CCUORPAudC" target="_blank">
                            <p class="masthead-subheading font-weight-light mt-2 mb-3 contact-info">Московская область,
                                г. Балашиха, ул. Разина, д. 2/5</p>
                        </a>
                        <a href="https://vk.com/id488685397" style="width: unset !important;" target="_blank"><img
                                class="img-fluid" src="{% static 'assets/img/vk.png' %}"
                                alt="https://vk.com/id488685397" /></a>
                        <a href="https://t.me/olga_psiholog03" style="width: unset !important;" target="_blank"><img
                                class="img-fluid" src="{% static 'assets/img/telegram.png' %}"
                                alt="https://t.me/olga_psiholog03" /></a>
                        <a href="https://instagram.com/olga_psiholog03_?igshid=ZGUzMzM3NWJiOQ=="
                            style="width: unset !important;" target="_blank"><img class="img-fluid"
                                src="{% static 'assets/img/instagram.png' %}"
                                alt="https://instagram.com/olga_psiholog03_?igshid=ZGUzMzM3NWJiOQ==" /></a>
                        <!-- Devider -->
                        <div class="divider-custom mb-3">
                            <div class="divider-custom-line art_divider"></div>
                        </div>
                        <p class="masthead-subheading font-weight-light mt-3 mb-1 contact-info">Вы можете рассчитывать
                            на полную конфиденциальность и продуктивную совместную работу!</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    {% endif %}
    <!-- Copyright Section-->
    {% if page != "articles" %}
    <div class="copyright py-4 text-center text-white">
        <div class="container"><small>Copyright &copy; Olga Dontsova {% now "Y" %} г. При копировании материала прямая
                ссылка на сайт обязательна</small></div>
    </div>
    {% endif %}
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"
        integrity="sha512-pHVGpX7F/27yZ0ISY+VVjyULApbDlD0/X0rgGbTqCE7WFW5MezNTWG/dnhtbBuICzsd0WQPgpE4REBLv+UqChw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="{% static 'js/main_script.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <!-- <script src="{% static 'js/sb-forms-latest.js' %}"></script> -->
    <script src="{% static 'js/gridify.js' %}"></script>
</body>

</html>