{% extends 'base.html' %}
{% load static %}
{% block title %} Добавить лекцию {% endblock %}
{% block content %}

<!-- Main Section-->
<section class="masthead body_art body_add_article div_for_footer">
	<div class="container align-items-center flex-column">
		<form method="post" enctype="multipart/form-data" id="main_form">
			{% csrf_token %}
			<div class="row justify-content-center">				
				<!-- Article -->
				<div class="col-md-9 col-lg-9 mb-2 portfolio art_block">
					<div class="divider-custom mb-0">
						<div class="divider-custom-line"></div>
						<div class="divider-custom-icon"><h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Добавить лекцию</h2></div>
						<div class="divider-custom-line"></div>
					</div>
					<!-- Picture -->
					<div class="portfolio-item mx-auto art_pic image_title_input addPicture mt-3" id="add_title_img" title="Изображение для лекции">
						<div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
							<div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
						</div>
						<img class="img-fluid" id="title_img" src="{% static 'assets/img/add_title_img.png' %}"  alt="Изображение для лекции" />					
					</div>
					<input data-type="title" data-sec="image" type="file" name="inp_title_img" id="inp_title_img" accept="image/*" style="display: none;"/>
					<!-- Title -->
					<input maxlength="500" data-type="title" data-sec="title" name="inp_title_article" id="inp_title_article" type="text" class="form-control form-control-lg page-section-heading text-center text-uppercase text-secondary mt-3 mb-3 art_title title_input" placeholder="Название лекции" />
					<!-- Autor -->
					<h2 class="page-section-heading text-center mb-2 art_autor">Автор — <b>Ольга Донцова</b></h2>
					<!-- Devider -->
					<div class="divider-custom mb-2">
						<div class="divider-custom-line art_divider"></div>
					</div>
					<!-- Annotation -->
					<textarea maxlength="500" data-type="title" data-sec="annotation" name="inp_title_annotation" class="form-control masthead-subheading font-weight-light mt-3 mb-2 art_ann annotation_input" id="inp_title_annotation" rows="5" placeholder="Аннотация"></textarea>
					<!-- Date -->
					<p class="masthead-subheading font-weight-light mb-2 art_date mb-5">{{ today }}</p>
					<!-- Main Text-->
					<div class="article_text mb-2" id="main_text">
					</div>
				</div>
				<!-- BUTTONS BLOCK-->
				<div class="col-md-3 col-lg-3 portfolio" style="text-align: right;">
					<div class="info_block_wtf sticky-top arcticle_add_block">
						<!-- Title -->
						<h2 class="page-section-heading text-uppercase info_title mb-3">Добавить блок</h2>
						<!-- Devider -->
						<div class="divider-custom info_divider mb-3">
							<div class="divider-custom-line art_divider"></div>
						</div>
						<!-- 1 ROW -->
						<div class="row justify-content-center mt-3">						
							<div class="col-md-3 col-lg-3 portfolio">
								<!-- ADD TEXT -->
								<div class="portfolio-item mx-auto image_title_input" id="add_text" title="Добавить блок с текстом">
									<div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
										<div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus"></i></div>
									</div>
									<img class="img-fluid" src="{% static 'assets/img/add_text.png' %}" alt="Добавить блок с текстом" />
								</div>
							</div>
							<div class="col-md-3 col-lg-3 portfolio">
								<!-- ADD IMAGE -->
								<div class="portfolio-item mx-auto image_title_input" id="add_image" title="Добавить блок с картинкой">
									<div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
										<div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus"></i></div>
									</div>
									<img class="img-fluid" src="{% static 'assets/img/add_img.png' %}" alt="Добавить блок с картинкой" />
								</div>
							</div>
							<div class="col-md-3 col-lg-3 portfolio">
								<!-- ADD AUDIO -->
								<div class="portfolio-item mx-auto image_title_input" id="add_audio" title="Добавить блок с аудио">
									<div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
										<div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus"></i></div>
									</div>
									<img class="img-fluid" src="{% static 'assets/img/add_aud.png' %}" alt="Добавить блок с аудио" />
								</div>
							</div>
							<div class="col-md-3 col-lg-3 portfolio">
								<!-- ADD VIDEO -->
								<div class="portfolio-item mx-auto image_title_input" id="add_video" title="Добавить блок с видео">
									<div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
										<div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus"></i></div>
									</div>
									<img class="img-fluid" src="{% static 'assets/img/add_vid.png' %}" alt="Добавить блок с видео" />
								</div>
							</div>
						</div>
						<!-- 2 ROW -->
						<div class="row justify-content-center mt-4 mb-2">
							<p id="text_loading" class="masthead-subheading font-weight-light mt-3 mb-2 art_ann text_loading loading_hidden">Идет сохранение...</p>
							<p id="text_result_save" class="masthead-subheading font-weight-light mt-3 mb-2 art_ann text_loading"></p>					
							<img id="image_loading" class="img-fluid loading_hidden" src="{% static 'assets/img/loading.svg' %}" alt="Идет сохранение" />
						</div>
						<!-- 3 ROW -->
						<div class="row justify-content-center mt-0 mb-2">						
							<button name="but_add_article" id="but_add_article" class="btn btn-primary btn-xl but_add_article" type="button">Сохранить</button> 
						</div>
					</div>
				</div>				
			</div>
		</form>
	</div>
</section>

{% endblock %}