{% extends 'base.html' %}
{% load static %}
{% block title %} Редактирование {% endblock %}
{% block content %}

<!-- Main Section-->
<section class="masthead body_art body_add_article div_for_footer">
	<div class="container align-items-center flex-column">
		<form method="post" enctype="multipart/form-data" id="main_form_edit">
			{% csrf_token %}
			<div class="row justify-content-center">				
				<!-- Article -->
				<div class="col-md-9 col-lg-9 mb-3 portfolio art_block">
					<div class="divider-custom mb-0">
						<div class="divider-custom-line"></div>
						<div class="divider-custom-icon"><h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Редактировать лекцию</h2></div>
						<div class="divider-custom-line"></div>
					</div>
					<!-- Picture -->
					<div class="portfolio-item mx-auto art_pic image_title_input addPicture mt-3" id="add_title_img" title="Изображение для лекции">
						<div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
							<div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
						</div>
						<img class="img-fluid" id="title_img" src="{{ article.logo.url }}"  alt="Изображение для лекции" />					
					</div>
					<input data-type="title" data-sec="image" type="file" name="inp_title_img" id="inp_title_img" accept="image/*" style="display: none;"/>
					<!-- Title -->
					<input maxlength="500" data-type="title" data-sec="title" name="inp_title_article" id="inp_title_article" type="text" class="form-control form-control-lg page-section-heading text-center text-uppercase text-secondary mt-3 mb-3 art_title title_input" placeholder="Название лекции" value="{{ article.title }}"/>
					<!-- Autor -->
					<h2 class="page-section-heading text-center mb-2 art_autor">Автор — <b>Ольга Донцова</b></h2>
					<!-- Devider -->
					<div class="divider-custom mb-2">
						<div class="divider-custom-line art_divider"></div>
					</div>
					<!-- Annotation -->
					<textarea maxlength="500" data-type="title" data-sec="annotation" name="inp_title_annotation" class="form-control masthead-subheading font-weight-light mt-3 mb-2 art_ann annotation_input" id="inp_title_annotation" rows="5" placeholder="Аннотация">{{ article.annotation }}</textarea>
					<!-- Date -->
					<p class="masthead-subheading font-weight-light mb-2 art_date mb-5">{{ article_date }}</p>
					<!-- Main Text-->
					<div class="article_text mb-2" id="main_text">
						{% for block in article_blocks %}
							{% if block.type == 0 %}
							<!-- Text -->
							<div class="row justify-content-center mb-4 one_block">
								<div class="col-md-11 col-lg-11 mb-5">
									<div id="article_{{ block.block_text.id }}" class="article_text mb-4 article_text_edit">
										{{ block.block_text.content|safe }}
									</div>
								</div>
								<div class="col-md-1 col-lg-1 p-0">
									<button class="btn btn-primary btn-xl m-2 mt-0 ml-0 article_btn_up" onclick="up_block(this);" type="button" title="Поднять блок" />
									<button class="btn btn-primary btn-xl m-2 mt-0 ml-0 article_btn_down" onclick="down_block(this);" type="button" title="Опустить блок" />
									<button data-type="html" data-id="{{ block.block_text.id }}" class="btn btn-primary btn-xl m-2 mt-0 ml-0 article_btn_del" onclick="delete_block(this);" type="button" title="Удалить блок" />
								</div>
								<input value="{{ block.block_text.id }}" data-type="text_edit" name="text_{{ block.block_text.id }}" type="text" id="text_{{ block.block_text.id }}" style="display: none;"/>
							</div>
							{% elif block.type == 1 %}
							<!-- Image -->
							<div id="div_upload_img_{{ block.block_image.id }}" class="one_block">
								<input value="{{ block.block_image.id }}" data-type="image_edit" name="upload_img_{{ block.block_image.id }}" type="text" onchange="func_up_img(this);" id="upload_img_{{ block.block_image.id }}" style="display: none;"/>
								<div class="row justify-content-center mb-2">
									<div class="col-md-11 col-lg-11">
										<p class="art-media-center">
											<img class="img-fluid art_img mt-1 mb-1" src="{{ block.block_image.content.url }}" alt="Картинка" />
										</p>
									</div>
									<div class="col-md-1 col-lg-1 p-0">
										<button class="btn btn-primary btn-xl m-2 mt-0 ml-0 article_btn_up" onclick="up_block(this);" type="button" title="Поднять блок" />
										<button class="btn btn-primary btn-xl m-2 mt-0 ml-0 article_btn_down" onclick="down_block(this);" type="button" title="Опустить блок" />
										<button data-type="image" data-id="{{ block.block_image.id }}" class="btn btn-primary btn-xl m-2 mt-0 ml-0 article_btn_del" onclick="delete_block(this);" type="button" title="Удалить блок" />
									</div>
								</div>
							</div>
							{% elif block.type == 2 %}
							<!-- Audio -->	
							<div id="div_upload_aud_{{ block.block_audio.id }}" class="one_block">
								<input value="{{ block.block_audio.id }}" data-type="audio_edit" name="upload_aud_{{ block.block_audio.id }}" type="text" id="upload_aud_{{ block.block_audio.id }}" style="display: none;"/>
								<div class="row justify-content-center mb-2">
									<div class="col-md-8 col-lg-8">
										<p style="text-align: right !important;">
											<audio class="art_audio mt-1 mb-1" controls="controls" controlslist="nodownload" onloadstart="this.volume=0.5">
												<source src="{{ block.block_audio.content.url }}" />К сожалению, тег audio не поддерживается вашим браузером
											</audio>
										</p>
									</div>
									<div class="col-md-4 col-lg-4" style="text-align: right !important;">
										<button style="margin-right: 3px;" class="btn btn-primary btn-xl m-2 mt-0 ml-0 article_btn_up" onclick="up_block(this);" type="button" title="Поднять блок" />
										<button style="margin-right: 3px;" class="btn btn-primary btn-xl m-2 mt-0 ml-0 article_btn_down" onclick="down_block(this);" type="button" title="Опустить блок" />
										<button data-type="audio" data-id="{{ block.block_audio.id }}" class="btn btn-primary btn-xl m-2 mt-0 ml-0 article_btn_del" onclick="delete_block(this);" type="button" title="Удалить блок" />
									</div>
								</div>
							</div>
							{% elif block.type == 3 %}
							<!-- Video -->	
							<div id="div_upload_vid_{{ block.block_video.id }}" class="one_block">
								<input value="{{ block.block_video.id }}" data-type="video_edit" name="upload_vid_{{ block.block_video.id }}" type="text" id="upload_vid_{{ block.block_video.id }}" style="display: none;"/>
								<div class="row justify-content-center mb-2">
									<div class="col-md-11 col-lg-11">
										<p class="art-media-center">
											<video controls controlslist="nodownload" class="art_video mt-1 mb-1" onloadstart="this.volume=0.3">
												<source src="{{ block.block_video.content.url }}" type="video/mp4" />К сожалению, тег video не поддерживается вашим браузером
											</video>
										</p>
									</div>
									<div class="col-md-1 col-lg-1 p-0">
										<button class="btn btn-primary btn-xl m-2 mt-0 ml-0 article_btn_up" onclick="up_block(this);" type="button" title="Поднять блок" />
										<button class="btn btn-primary btn-xl m-2 mt-0 ml-0 article_btn_down" onclick="down_block(this);" type="button" title="Опустить блок" />
										<button data-type="video" data-id="{{ block.block_video.id }}" class="btn btn-primary btn-xl m-2 mt-0 ml-0 article_btn_del" onclick="delete_block(this);" type="button" title="Удалить блок" />	
									</div>
								</div>
							</div>				
							{% endif %}
						{% endfor %}
					</div>
				</div>
				<!-- BUTTONS BLOCK-->
				<div class="col-md-3 col-lg-3 portfolio" style="text-align: right;">
					<div class="info_block_wtf sticky-top arcticle_add_block">
						<!-- Title -->
						<h2 class="page-section-heading text-uppercase info_title mb-3">Создать ссылку</h2>
						<!-- Devider -->
						<div class="divider-custom info_divider mb-3">
							<div class="divider-custom-line art_divider"></div>
						</div>
						<!-- 1 ROW -->
						<div class="row justify-content-center mt-3 mb-2">
							<div class="col-md-5 col-lg-5 ">
								<input type="text" id="personal_link_{{ article.id }}" class="form-control page-section-heading text-center text-secondary article_personal_link" readonly value=""/>
							</div>
							<div class="col-md-7 col-lg-7 ">						
								<button data-fun="create" data-article-id="{{ article.id }}" class="btn btn-primary btn-ml but_get_link_article" type="button" onclick="create_token(this);">Создать</button>
							</div>
						</div>
						<!-- Title -->
						<h2 class="page-section-heading text-uppercase info_title mt-4 mb-3">Добавить блок</h2>
						<!-- Devider -->
						<div class="divider-custom info_divider mb-3">
							<div class="divider-custom-line art_divider"></div>
						</div>
						<!-- 1 ROW -->
						<div class="row justify-content-center mt-3">						
							<div class="col-md-3 col-lg-3 portfolio">
								<!-- ADD TEXT -->
								<div class="portfolio-item mx-auto image_title_input" id="add_text" title="Добавить блок с текстом">
									<div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
										<div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus"></i></div>
									</div>
									<img class="img-fluid" src="{% static 'assets/img/add_text.png' %}" alt="Добавить блок с текстом" />
								</div>
							</div>
							<div class="col-md-3 col-lg-3 portfolio">
								<!-- ADD IMAGE -->
								<div class="portfolio-item mx-auto image_title_input" id="add_image" title="Добавить блок с картинкой">
									<div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
										<div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus"></i></div>
									</div>
									<img class="img-fluid" src="{% static 'assets/img/add_img.png' %}" alt="Добавить блок с картинкой" />
								</div>
							</div>
							<div class="col-md-3 col-lg-3 portfolio">
								<!-- ADD AUDIO -->
								<div class="portfolio-item mx-auto image_title_input" id="add_audio" title="Добавить блок с аудио">
									<div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
										<div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus"></i></div>
									</div>
									<img class="img-fluid" src="{% static 'assets/img/add_aud.png' %}" alt="Добавить блок с аудио" />
								</div>
							</div>
							<div class="col-md-3 col-lg-3 portfolio">
								<!-- ADD VIDEO -->
								<div class="portfolio-item mx-auto image_title_input" id="add_video" title="Добавить блок с видео">
									<div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
										<div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus"></i></div>
									</div>
									<img class="img-fluid" src="{% static 'assets/img/add_vid.png' %}" alt="Добавить блок с видео" />
								</div>
							</div>
						</div>
						<!-- 2 ROW -->
						<div class="row justify-content-center mt-4 mb-2">
							<p id="text_loading" class="masthead-subheading font-weight-light mt-3 mb-2 art_ann text_loading loading_hidden">Идет сохранение...</p>
							<p id="text_result_save" class="masthead-subheading font-weight-light mt-3 mb-2 art_ann text_loading"></p>					
							<img id="image_loading" class="img-fluid loading_hidden" src="{% static 'assets/img/loading.svg' %}" alt="Идет сохранение" />
						</div>
						<!-- 3 ROW -->
						<div class="row justify-content-center mt-0"> 						
							<button name="but_edit_article" id="but_edit_article" class="btn btn-primary btn-xl but_add_article m-2" type="button">Сохранить</button>
							<button class="btn btn-primary btn-xl but_del_article m-2" type="button" data-bs-toggle="modal" data-bs-target="#div_delete_question">Удалить</button> 
						</div>
					</div>
				</div>				
			</div>
		</form>
	</div>
</section>

<!-- DIV DELETE ARTICLE -->
<div class="portfolio-modal modal fade" id="div_delete_question" tabindex="-1" aria-labelledby="div_delete_question" aria-hidden="true">
    <div class="modal-dialog modal-ml">
        <div class="modal-content">
            <div class="modal-body text-center pb-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-12 col-lg-12 portfolio">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="page-section-heading text-center mb-4 art_autor">Вы действительно хотите удалить лекцию?</h2>
                            <p class="mb-4">Весь загруженный материал (текст, изображения, аудио и видео записи) будут удалены <b>без возможности восстановления!</b></p>
                            <form method="post" enctype="multipart/form-data" id="main_form_delete">
								{% csrf_token %}
								<input type="text" name="article_id" value="{{ article.id }}" style="display: none;"/>
                            	<button class="btn btn-primary btn-xl but_add_article" data-bs-dismiss="modal" type="button">Нет, я передумал</button>								
                            	<button type="button" id="{{ article.id }}" class="btn btn-primary btn-xl but_del_article but_id_article_here" data-bs-dismiss="modal" onclick="delete_article(this);">Да, меня не остановить</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$("#inp_title_annotation").text($("#inp_title_annotation").text().replaceAll("<br>", "\n"));
	});
</script>

{% endblock %}