{% extends 'base.html' %}
{% load static %}
{% block title %} Ольга Донцова {% endblock %}
{% block content %}

<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5 rounded-circle" src="{% static 'assets/img/OlgaPhoto2.jpeg' %}"
            alt="Ольга Донцова" />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">Ольга Донцова</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light mb-2">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-2">Детский — Семейный — Клинический — Нейропсихолог</p>
        <p class="masthead-subheading font-weight-light mt-5 mb-0 header-about">Уже более 14 лет я помогаю своим
            клиентам и их семьям по вопросам развития детей, супружеских и межличностных отношений</p>
    </div>
</header>

<!-- Help Section-->
<section class="page-section bg-primary text-white mt-0 mb-0 help-container" id="help">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0 help-big-title">Чем я могу
            помочь?</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line help-devider"></div>
            <div class="divider-custom-icon"><i class="fas fa-star" style="color: #208f81 !important"></i></div>
            <div class="divider-custom-line help-devider"></div>
        </div>
        <!-- Help Section Content-->
        <div class="row justify-content-center">
            <!-- Help Item -->
            <div class="col-md-3 col-lg-3 mb-3">
                <div class="">
                    <div class="portfolio-item mx-auto help-img">
                        <img class="img-fluid" src="{% static 'assets/img/help-solo.png' %}"
                            alt="Индивидуальная консультация психолога" />
                    </div>
                    <h3 class="page-section-heading text-center text-uppercase text-secondary mt-1 mb-0 help-title">
                        Индивидуальная консультация психолога</h3>
                    <p class="masthead-subheading font-weight-light help-text">Если вы оказались в трудной жизненной
                        ситуации, утратили душевный покой, у вас есть вопросы к себе и близким, сомнения, страхи, вы
                        можете прийти ко мне на консультацию для того, чтобы помочь себе с этим справиться</p>
                </div>
            </div>
            <!-- Help Item -->
            <div class="col-md-3 col-lg-3 mb-3">
                <div class="">
                    <div class="portfolio-item mx-auto help-img">
                        <img class="img-fluid" src="{% static 'assets/img/help-time.png' %}"
                            alt="Краткосрочная и длительная психотерапия" />
                    </div>
                    <h3 class="page-section-heading text-center text-uppercase text-secondary mt-1 mb-0 help-title">
                        Краткосрочная и длительная психотерапия</h3>
                    <p class="masthead-subheading font-weight-light help-text">Если вы видите, что одна и та же ситуация
                        повторяется в течение жизни, например, сценарий развития отношений — это повод разобраться со
                        своим характером. В данном случае работа идет не над осмыслением конкретной ситуации, а с вашей
                        личностью и тем, как вы строите свою жизнь</p>
                </div>
            </div>
            <!-- Help Item -->
            <div class="col-md-3 col-lg-3 mb-3">
                <div class="">
                    <div class="portfolio-item mx-auto help-img">
                        <img class="img-fluid" src="{% static 'assets/img/help-friendship.png' %}"
                            alt="Психологическое консультирование пар" />
                    </div>
                    <h3 class="page-section-heading text-center text-uppercase text-secondary mt-1 mb-0 help-title">
                        Психологическое консультирование пар</h3>
                    <p class="masthead-subheading font-weight-light help-text">Супружеским и другим парам, которые
                        хотели бы изменить, улучшить или прояснить отношения друг с другом</p>
                </div>
            </div>
            <!-- Help Item -->
            <div class="col-md-3 col-lg-3 mb-3">
                <div class="">
                    <div class="portfolio-item mx-auto help-img">
                        <img class="img-fluid" src="{% static 'assets/img/help-femaly.png' %}"
                            alt="Семейное консультирование детей и родителей" />
                    </div>
                    <h3 class="page-section-heading text-center text-uppercase text-secondary mt-1 mb-0 help-title">
                        Семейное консультирование</h3>
                    <p class="masthead-subheading font-weight-light help-text">
                        Если у ребёнка трудности с обучением, адаптацией в коллективе, трудности с усвоением социальных
                        норм, ребёнок не может сосредоточиться, удержать внимание, то это - область знаний
                        нейропсихолога. Все эти сложности можно скорректировать, облегчить адаптацию и учебный процесс.
                        <!-- <b>Для родителей, которые:</b>
                        <br>— хотят восстановить или улучшить отношения с «трудным» ребенком
                        <br>— выбирают для себя подходящую родительскую позицию и линию поведения
                        <br>— ищут новые способы помочь ребенку (замкнутость, агрессивность, повторяющиеся неудачи,
                        низкий контроль эмоций) -->
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Articles Section-->
<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Article Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0 help-big-title">Актуальные лекции
        </h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line help-devider"></div>
            <div class="divider-custom-icon"><i class="fas fa-star" style="color: #208f81 !important"></i></div>
            <div class="divider-custom-line help-devider"></div>
        </div>
        <!-- Actual articles -->
        <div class="row justify-content-center">
            {% for article in last_article %}
            <!-- Article Item -->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="div_aa" data-bs-toggle="modal" data-bs-target="#portfolioModal_{{ article.id }}">
                    <div class="portfolio-item mx-auto div_actual_article">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100"
                            style="z-index: 100;">
                            <div class="portfolio-item-caption-content text-center text-white">
                                <h3>Узнать больше</h3>
                            </div>
                        </div>
                        <img class="img-fluid" src="{{ article.logo.url }}" alt="{{ article.title }}" />
                    </div>
                    <h3
                        class="page-section-heading text-center text-uppercase text-secondary mt-1 mb-0 art_actual_title">
                        {{ article.title }}</h3>
                    <p class="masthead-subheading font-weight-light art_actual_ann">{{ article.annotation|safe }}</p>
                </div>
            </div>
            {% endfor %}
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4 ">
                </div>
                <div class="col-md-6 col-lg-4 " style="display: contents !important;">
                    <a href="{% url 'articles' %}"><button class="btn btn-primary btn-xl art_actual_but"
                            type="button">Все лекции</button></a>
                </div>
                <div class="col-md-6 col-lg-4 ">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About Section-->
<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">Консультации со мной</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ms-auto">
                <p class="lead" style="text-align: justify;">Прием проводится очно и онлайн — по Вашему желанию. Если
                    нет пока запроса или много сложностей, то можно выбрать лекцию по интересующей Вас теме и прослушать
                    её в удобное время. А затем обсудить со мной сопутствующие вопросы в беседе или в формате переписки.
                    Если по каким-либо причинам вы не можете приехать лично, но чувствуете в этом необходимость, есть
                    возможность провести встречу в режиме онлайн, в формате видеосвязи. </p>
            </div>
            <div class="col-lg-4 me-auto">
                <p class="lead" style="text-align: justify;">Также, если в этом есть необходимость, после первичного
                    приема я поддерживаю своих клиентов онлайн. Вместе с Вами мы преодолеем сложности и Вы придёте к
                    желаемому результату. <br>Вы можете задать вопрос на интересующую вас тему или получить лекцию через
                    форму обратной связи</p>
            </div>
        </div>
        <!-- About Section Button-->
        <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-light" href="#contact" onclick="article_contact_to(this);">Записаться на
                прием</a>
        </div>
    </div>
</section>

<!-- Actual articles more Modals-->
{% for article in last_article %}
<!-- Modal -->
<div class="portfolio-modal modal fade" id="portfolioModal_{{ article.id }}" tabindex="-1"
    aria-labelledby="portfolioModal_{{ article.id }}" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0 pb-0"><button class="btn-close" type="button" data-bs-dismiss="modal"
                    aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5 pt-0">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-10">
                            <!-- Title -->
                            <h1 class="page-section-heading text-center text-uppercase mb-3 text-secondary art_title">
                                {{ article.title }}</h1>
                            <!-- Picture -->
                            <div class="portfolio-item mx-auto art_pic mb-3" style="max-width: 25rem !important;">
                                <img class="img-fluid" src="{{ article.logo.url }}" alt="{{ article.title }}" />
                            </div>
                            <!-- Autor -->
                            <h2 class="page-section-heading text-center mb-2 art_autor">Автор — <b>Ольга Донцова</b>
                            </h2>
                            <!-- Devider -->
                            <div class="divider-custom mb-2">
                                <div class="divider-custom-line art_divider"></div>
                            </div>
                            <!-- Annotation -->
                            <p class="masthead-subheading font-weight-light mt-3 mb-2 art_ann">
                                {{ article.annotation|safe }}
                            </p>
                            <!-- Date -->
                            <p class="masthead-subheading font-weight-light mb-2 art_date mb-5">{{ article.on_change }}
                            </p>
                            {% if user.is_authenticated %}
                            <button class="btn btn-primary" data-bs-dismiss="modal"
                                style="font-size: 1.3rem !important;"><a href="{% url 'article' article.id %}"
                                    target="_blank" class="articles_link_to_article link_white"
                                    data-already-id="{{ article.id }}">Читать дальше</a></button>
                            {% else %}
                            <button id="btn_to_choose_article" data-title-target="{{ article.title }}"
                                data-id-target="{{ article.id }}" onclick="article_choose_contact(this);"
                                class="btn btn-primary" data-bs-dismiss="modal"
                                style="font-size: 1.3rem !important;">Читать дальше</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<style type="text/css">
    .div_actual_article {
        height: unset !important;
        max-height: 10.5rem !important;
    }
</style>

{% endblock %}